*
!.gitignore
!.zshrc
!.spacemacs
!toggle_window.sh

!.config/

!.config/sxhkd/
!.config/sxhkd/sxhkdrc

!.config/compton/
!.config/compton/compton.conf

!.config/dunst/
!.config/dunst/dunstrc

!.config/konsolerc

!.config/rofi/
!.config/rofi/config

!.config/polybar/
!.config/polybar/config

!.config/bspwm/
!.config/bspwm/bspwmrc
